.header {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-top: 10px;
	margin-right: 20px;

}

.header a {
	font-weight: 500;
	font-size: 13px;
	font-family: Arial;
}

.gmail {
	text-decoration: none;
	color: #5F6368;
	font-size: 11px;
	font-weight: 300;
	padding-right: 15px;
}

.images {
	text-decoration: none;
	color: #5F6368;
	font-size: 11px;
	font-weight: 300;
	padding-right: 10px;
}

.gmail:hover {
	text-decoration: underline;

}

.images:hover {
	text-decoration: underline;
}

.gImg {
	height: 30px;
	width: 30px;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.apps {
	padding: 7px;
	cursor: pointer;
}

.googleLogo {
	display: flex;
	justify-content: center;
	margin-top: 130px;
	margin-bottom: 35px;
}


.searchBox {
	width: 520px;
	margin: 0 auto;
	display: flex;
	padding-left: 9px;
	border: 1px solid #ddd;
	border-radius: 50px;
	box-shadow: 5px 2px 10px rgba(128, 128, 128, 0.626);
}

.searchBox input {
	width: 100%;
	border-style: none;
	font-size: 16px;
	padding: 15px;
	border-radius: 25px;
	outline: none;
	padding-left: 19px;

}


.searchIcon {
	margin-top: 10px;
	margin-left: 20px;
	color: gray;
	width: 23px;
	height: 23px;
	padding-top: 4px;
	cursor: pointer;
}

.googleMic {
	padding-right: 15px;
	margin-bottom: 8px;
	height: 25px;
	width: 25px;
	padding-top: 12px;
	cursor: pointer;
}

.googleCamera {
	padding-top: 11px;
	height: 25px;
	width: 25px;
	padding-right: 15px;
	cursor: pointer;
}

.belowIcons {
	width: 480px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 100px;
}

.belowIcons img {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	padding: 10px;
	background-color: #DCDCDC;
}

.imgTxt {
	padding: 1px;
	text-align: center;
	cursor: pointer;
	font-size: 13px;
	font-family: "Segoe UI";
	color: #000000;
}

.imgTxt span {
	border-radius: 100px;
	padding: 10px;
	color: #041E49;
	background-color: #d3e3fdff;
}

.addTxt {
	padding-top: 10px;
}


.customizeBox {
	display: flex;
	justify-content: flex-end;
	align-items: end;
	float: right;
	margin-top: 80px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 25px;
	padding: 5px;
	width: 180px;
	background-color: #d3e3fdff;
}

.customizeBox span {
	width: 30px;
	height: 20px;
	font-size: 16px;
	padding-left: 25px;


}

.customizeBox input {
	font-size: 13px;
	font-family: "segoe UI";
	color: black;
	border-style: none;
	padding-left: 8px;
	padding-right: 3px;
	padding-bottom: 6px;
	background-color: #d3e3fdff;
}

.customizeChrome {
	color: #041E49;
	cursor: pointer;
}